<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Config -->
  <arg name="rviz_config"          default="$(find field_local_planner_ros)/config/rviz/view.rviz"/>
  <arg name="rosbag_name"/>
  <param name="/use_sim_time" value="true"/>

  <!-- Important: different params to do not override the one of the ANYbotics software  -->
  <arg name="description_name"           default="anymal_d_description"/>
  <arg name="description_file"           default="$(find anymal_d_description)/urdf/anymal.urdf"/>

  <param name="$(arg description_name)" textfile="$(arg description_file)"/>

  <!-- Include common launch -->
  <node pkg="rviz" type="rviz" name="field_local_planner_rviz" output="screen" args="-d $(arg rviz_config)"/>

  <!-- Rosbag play -->
  <node pkg="rosbag" type="play" name="rosbag_play" args="--clock $(arg rosbag_name)"/>

</launch>
